<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" th:content="${pageDescription} ?: 'Trang chủ Fisport'">
    <title layout:fragment="title">Default Title</title>
    <link rel="stylesheet" th:href="@{/web/css/style.css}">
</head>
<body>
    HELLO
    <!-- Include header fragment -->
    <div th:replace="~{fragments/web/header :: header}"></div>

    <main>
        <!-- Content sẽ được override từ page con -->
        <div layout:fragment="abc">
            Default Content
        </div>
    </main>

    <!-- Include footer fragment -->
    <div th:replace="~{fragments/web/footer :: footer}"></div>

</body>
</html>